

<div id="crypto_navbar" class="w3-top w3-bar w3-black w3-card">
    <a href="{% url 'website:home' %}" class="w3-bar-item w3-button w3-padding-large"> Home </a>
    <a href="{% url 'crypto:crypto' %}" class="w3-bar-item w3-button w3-padding-large"> Coins </a>
    <a href="{% url 'crypto:exchanges' %}" class="w3-bar-item w3-button w3-padding-large"> Exchanges </a>
    <a href="{% url 'crypto:dominance' %}" class="w3-bar-item w3-button w3-padding-large"> Dominance </a>
    <a href="{% url 'crypto:global_metrics' %}" class="w3-bar-item w3-button w3-padding-large"> Global Metrics </a>
    <a href="{% url 'crypto:watchlist' %}" class="w3-bar-item w3-button w3-padding-large"> Watchlist </a>
    <a href="{% url 'crypto:portfolio' %}" class="w3-bar-item w3-button w3-padding-large"> Portfolio </a>
    <a href="{% url 'crypto:trends' %}" class="w3-bar-item w3-button w3-padding-large"> Trends </a>
</div>




